asttokens==2.4.1
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
coloredlogs==15.0.1
daemoniker==0.2.3
decorator==5.1.1
dill==0.3.8
executing==2.0.1
flaky==3.8.1
getch==1.0
gym==0.23.1
gym-notices==0.0.8
humanfriendly==10.0
idna==3.7
ImageHash==4.3.1
inflection==0.5.1
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
minerl @ git+https://github.com/minerllabs/minerl@7f00ecceb5be3ccda9f7c53d3052ca4209d8b4b8
numpy==1.23.5
opencv-python==4.10.0.84
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyglet==2.0.16
Pygments==2.18.0
Pyro4==4.82
PyWavelets==1.6.0
requests==2.32.3
scipy==1.14.0
serpent==1.41
six==1.16.0
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
typing==3.7.4.3
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
xmltodict==0.12.0
